.home{
    cursor:pointer;
    background: url(frog1.png);
    position: absolute;
    background-size: 150px;
    width: 150px;
    height: 150px;
    left: 11px;
    top: 8px;
}

.home:hover{
    cursor:pointer;
    background: url(frog2.png);
    position: absolute;
    background-size: 150px;
    width: 150px;
    height: 150px;
    left: 11px;
    top: 8px;
}

.header{
    font-family: kepler-std-subhead, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 35px;
    position:absolute;
    margin-top: 41px;
    margin-left: 686px;
}

.title{
    font-family: kepler-std-subhead, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 35px;
    position:absolute;
    margin-top: 410px;
    margin-left: 993px;
}

.body{
    font-family: kepler-std-subhead, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    position:absolute;
    margin-top: 470px;
    margin-left: 997px;
    padding-right: 230px;

}

.video{
    position:absolute;
    margin-left: 148px;
    margin-top: 260px
}